@charset "utf-8";
/* CSS Document */
body,td,th,p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  max-width: 100%;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}
a {
  color: #f18200;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f18200;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ====================== Both Pages <main> & Footer style ====================== */

#maincontent {
  background-color: #f3f3f3;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#footer {
  background-color: #252831;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation - Restaurant header  ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  line-height: 5rem;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 55px;
  background-color: #252831;
  align-items: center;
  justify-content: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1rem;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 180px;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 0 0 15px 0;
  margin: 20px 0 15px 0;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 30px 0px 30px 0px;
  font-family: Arial,sans-serif;
  margin: 15px;
  max-height: 380px;
  padding: 10px 20px 10px 20px;
  text-align: left;
  max-width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin-top: 15px;
  max-width: 100%;
  min-height: 100%
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #252831;
  font-family: Arial,sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.2rem;
  margin: 15px 0 10px 0;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 0.9rem;
}
#restaurants-list li a {
  background-color: #252831;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 15px 0;
  padding: 10px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* ====================== Map ====================== */
#map {
  height: 450px;
  width: 100%;
  background-color: #ccc;
  text-align: center;
}

/* ====================== restaurant page - breadcrum styles ====================== */

#breadcrumb {
  padding: 10px;
  list-style: none;
  background-color: #d7d7d9;
  margin: 0;
  max-width: 100%
  color:#252831;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  font-size: 1.4rem;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 4px;
  color: #252831;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #252831;
  text-decoration: none;
  font-size: 1.4rem;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #A55900;
  /*text-decoration: underline;*/
}

/* ====================== Restaurant page - map & review division ====================== */

.inside #maincontent {
  flex-direction: row;
  max-height:500px ;
}

#restaurantSpace {
 order:-1;
 width:50%;
 display:flex;
 flex-direction: column;
 overflow-y:scroll;
}

.inside #map-container {
 order:1;
 width:50%;
 height:100%;
}


/* ====================== Restaurant page - Restaurant Details ====================== */
#restaurant-name {
  color: #252831;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0px 0px 5px 0px;
  padding:10px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 90%;
  margin: 0px 10px 10px 18px;
  border-radius: 30px 0px 30px 0px;
}
#restaurant-address {
  font-size: 2rem;
  margin-left:20px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 31px 0px 30px 0px;
  display: block;
  list-style-type: none;
  margin: 0 0 40px;
  /*overflow: hidden;*/
  padding: 0 0 40px;
  position: relative;
  width: 90%;
}

/*#reviews-list li p {
  margin: 0 0 10px;
}*/
#restaurant-hours td {
  color: #666;
}
#reviews-list li .rating {
  width:120px;
  background-color: #f18200;
  border-radius: 4px;
  color: #fff;
  margin: 12px;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 1.8em;
  text-transform: uppercase;
}
#reviews-list li .reviewName {
  display:flex;
  justify-content: space-between;
  height:40px;
  background-color: #333333;
  border-top-left-radius: 30px;
  padding:10px 10px 10px 20px;
}

#reviews-list div p {
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.1em;
    margin: 12px;
}
#reviews-list p {

  font-size: 2em;
  letter-spacing: 0.1em;
    margin: 12px;
}
#reviews-list h2 {
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.1em;
  /*margin-left: 20px;*/
}


/*Media query for responsive website*/


@media screen and (max-width: 560px) {
  nav h1 a {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
  }

  #restaurants-list li {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  #map {
   height: 300px;
  }

  .filter-options {
    height: 50%;
    justify-content:flex-end;
  }
  .filter-options h2 {
    margin:0;
  }
 .filter-options select {
    height: 30px;
    margin: 3px 7px 3px 3px;
  }
 /*do not disturb the above style*/
}

@media screen and (max-width: 767px) {
  .inside #maincontent {
  flex-direction: column;
}

#restaurantSpace {
 order:1;
 width:100%;

}

.inside #map-container {
 order:-1;
 width:100%;
}
}
